 Add Text - Crash
    Private Sub MetroButton7_Click(sender As Object, e As EventArgs) Handles MetroButton7.Click
        For Each texts In crashtext
            If texts = MetroTextBox3.Text Then
                MessageBox.Show("The item is already in the list.", "Information", MessageBoxButtons.OK, MessageBoxIcon.Information)
                Exit Sub
            End If
        Next
        If MetroTextBox3.Text = Nothing Then
            MessageBox.Show("The item can't be null.", "Information", MessageBoxButtons.OK, MessageBoxIcon.Information)
        Else

            crashtext.Add(MetroTextBox3.Text)
            MetroTextBox3.Text = Nothing
            MessageBox.Show("The item was added.", "Information", MessageBoxButtons.OK, MessageBoxIcon.Information)
        End If
    End Sub
    ' Remove Text - Crash
    Private Sub MetroButton8_Click(sender As Object, e As EventArgs) Handles MetroButton8.Click

        For Each texts In crashtext
            If texts = MetroTextBox3.Text Then
                crashtext.Remove(texts)
                MetroTextBox3.Text = Nothing
                MessageBox.Show("The item was removed.", "Information", MessageBoxButtons.OK, MessageBoxIcon.Information)
                Exit Sub
            End If
        Next
        MessageBox.Show("The item doesn't exists.", "Error", MessageBoxButtons.OK, MessageBoxIcon.Error)
    End Sub
    ' Start/Stop button - Crash
    Private Sub MetroButton6_Click(sender As Object, e As EventArgs) Handles MetroButton6.Click
        If MetroButton6.Text = "Start" Then
            If MetroButton9.Text = "Stop" Then
                MessageBox.Show("Firstly stop ""Reply Option"".", "Information", MessageBoxButtons.OK, MessageBoxIcon.Information)
            Else
                MetroButton6.Text = "Stop"
                Dim crasht = New Thread(AddressOf Crash)
                crasht.Start()
                MetroButton7.Enabled = False
                MetroButton8.Enabled = False
            End If
        Else
            MetroButton6.Text = "Start"
            MetroButton7.Enabled = True
            MetroButton8.Enabled = True
            Dim crasht = New Thread(AddressOf Crash)
            crasht.Abort()
        End If
    End Sub
    ' Crash Sub
    Public Sub Crash()
        Dim MetroText = MetroButton6.Text
        While (MetroText = "Stop")
            Try
                ' samp.dll + &H021A0E8 -> (132 * -1) + (4*n) (Max n = 31)
                Dim a1 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1)}, Level:=1, nsize:=4)))
                Dim a2 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 4}, Level:=1, nsize:=4)))
                Dim a3 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 8}, Level:=1, nsize:=4)))
                Dim a4 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 12}, Level:=1, nsize:=4)))
                Dim a5 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 16}, Level:=1, nsize:=4)))
                Dim a6 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 20}, Level:=1, nsize:=4)))
                Dim a7 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 24}, Level:=1, nsize:=4)))
                Dim a8 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 28}, Level:=1, nsize:=4)))
                Dim a9 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 32}, Level:=1, nsize:=4)))
                Dim a10 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 40 - 4}, Level:=1, nsize:=4)))
                Dim a11 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 44 - 4}, Level:=1, nsize:=4)))
                Dim a12 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 48 - 4}, Level:=1, nsize:=4)))
                Dim a13 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 52 - 4}, Level:=1, nsize:=4)))
                Dim a14 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 56 - 4}, Level:=1, nsize:=4)))
                Dim a15 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 60 - 4}, Level:=1, nsize:=4)))
                Dim a16 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 64 - 4}, Level:=1, nsize:=4)))
                Dim a17 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 68 - 4}, Level:=1, nsize:=4)))
                Dim a18 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 72 - 4}, Level:=1, nsize:=4)))
                Dim a19 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 76 - 4}, Level:=1, nsize:=4)))
                Dim a20 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 80 - 4}, Level:=1, nsize:=4)))
                Dim a21 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 84 - 4}, Level:=1, nsize:=4)))
                Dim a22 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 88 - 4}, Level:=1, nsize:=4)))
                Dim a23 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 92 - 4}, Level:=1, nsize:=4)))
                Dim a24 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 96 - 4}, Level:=1, nsize:=4)))
                Dim a25 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 100 - 4}, Level:=1, nsize:=4)))
                Dim a26 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 104 - 4}, Level:=1, nsize:=4)))
                Dim a27 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 108 - 4}, Level:=1, nsize:=4)))
                Dim a28 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 112 - 4}, Level:=1, nsize:=4)))
                Dim a29 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 116 - 4}, Level:=1, nsize:=4)))
                Dim a30 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 120 - 4}, Level:=1, nsize:=4)))
                Dim a31 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 124 - 4}, Level:=1, nsize:=4)))
                Dim a32 = HexS(Hex(ReadDMALong(proc, sampAddr + DecryptModulePointerAddress("6D8VUQROgzHa8VfyxYg3iQ==", "samp.dll"), Offsets:={(&H132 * -1) + 128 - 4}, Level:=1, nsize:=4)))
                Dim lastchatline = StrReverse(a32 + a31 + a30 + a29 + a28 + a27 + a26 + a25 + a24 + a23 + a22 + a21 + a20 + a19 + a18 + a17 + a16 + a15 + a14 + a13 + a12 + a11 + a10 + a9 + a8 + a7 + a6 + a5 + a4 + a3 + a2 + a1)
                For Each item In crashtext
                    If lastchatline.ToLower.Contains(item.ToLower) Then
                        Sleep(5000)
                        If MetroCheckBox7.Checked = True Then
                            loops2 = 0
                            Timer6.Start()
                            Exit For
                        Else
                            Timer1.Stop()
                            Timer2.Stop()
                            Timer3.Stop()
                            Timer4.Stop()
                            Timer5.Stop()
                            Process.GetProcessesByName(proc)(0).Kill()
                            Sleep(150)
                            Process.GetCurrentProcess.Kill()
                        End If
                    End If
                Next
            Catch Ex As Exception
            End Try
            MetroText = MetroButton6.Text
        End While
    End Sub
